#register_form label{
    display: flex;
    align-items: center;
    text-align: left;
}

fieldset{
    display: inline-block;
    text-align: center;
    background-color: white;
}

.form_label{
    width: 150px;
}

.form_control{
    width: 200px;
    margin: 1px 1px;
}

.center_button{
    text-align: center;
    margin-top: 5px;
}

h1{
    text-align: center;
}

#center{
    display: flex;
    text-align: center;
    justify-content: center;
}

#center button{
    margin-left: 5px;
}

body {
    
    font-family: Arial, sans-serif;
    display: flex;
    margin: 10px;
    padding: 5px;
    justify-content: center;
    align-self: center;
    background-color: grey;
}