<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>profile</title>
        <link rel="stylesheet" type="text/css" href="stylesHome.css">
        <link rel="stylesheet" type="text/css" href="stylesProfile.css">
    </head>
    <body>
        <header>
            <div class="header">
                <ul>
                    <li><a th:href="@{/dashboardPelanggan}">Home</a></li>
                    <li><a th:href="@{/dataFurnitur}">Data Furnitur</a></li>
                    <li><a th:href="@{/dataKomponen}">Data Komponen</a></li>
                    <li><a th:href="@{/historiPesanan}">History pesanan</a></li>
                </ul>
                <div class="action-buttons">
                    <button><a th:href="@{/profile}">Profile</a></button>
                    <button onclick="window.location.href='/furniturKustom'">Log Out</button>
                </div>
            </div>
        </header>
        <div class="image-container">
            <div class="overlay">
                <h1>Profile</h1>

                <div class="userProfile">
                    <img src="../assets/defaultProfilePict.jpg">
                    <div>
                        <h2>wom_kapi</h2>
                        <p>Wombat Kapidodo<br>womkapi@kapikapi.com</p>
                    </div>
                    <div class="address">
                        <p>Alamat:<br>Jl. Kapi Raya no. 5</p>
                        <p>Kecamatan:<br>Coblong</p>
                        <p>Kelurahan:<br>Dago</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="" id="edit-btn">Edit</a>
    </body>
</html>