body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
}

#search-bar {
    display: flex;
    gap: 10px; /* Jarak antara input dan tombol */
    justify-content: center;
    align-items: center;
    padding: 10px 0; /* Tambahkan padding kecil atas-bawah jika perlu */
}

#search-bar input[type="text"] {
    width: 400px; /* Lebar input yang lebih besar */
    height: 45px; /* Tinggi input */
    padding: 10px; /* Jarak dalam */
    font-size: 16px; /* Ukuran teks */
    border: 1px solid #ddd; /* Border */
    border-radius: 5px; /* Radius border */
}

#search-bar input[type="submit"] {
    height: 45px; /* Tinggi tombol */
    padding: 0 20px; /* Jarak dalam kiri-kanan */
    font-size: 16px; /* Ukuran teks */
    background-color: black; /* Warna background */
    color: white; /* Warna teks */
    border: none; /* Hilangkan border */
    border-radius: 5px; /* Radius border */
    cursor: pointer; /* Pointer pada hover */
    transition: background-color 0.3s ease; /* Efek transisi */
}

#search-bar input[type="submit"]:hover {
    background-color: rgb(43, 43, 43); /* Warna saat hover */
}

#item-list{
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item{
    position: relative;
    width: 45%;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    margin: 10px;
    padding: 15px;
}

.item img {
    width: 150px;
    border-radius: 8px;
    margin-right: 15px;
}

.btn-edit{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#add-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: black; 
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

#add-icon:hover {
    background-color: rgb(49, 49, 49); 
    transform: scale(1.1);
}

#add-icon:active {
    background-color: #2e2e2e; 
    transform: scale(0.95); 
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
