body{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.userProfile{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    color: black;
    width: 50%;
    flex-wrap: wrap;
    font-size: medium;
    width: 20%;
}
.userProfile div{
    font-size: small;
    margin: 0;
}
.userProfile h2{
    font-size: 2em;
}
img {
    height: 150px;
    border-radius: 50%;
    padding: 10px
}
.address{
    padding-bottom: 10px;
    text-align: center;
    width: 50%;
    font-size: small;
}
header{
    width: 100%;
}
.overlay{
    display: flex;
    flex-direction: column;
}
#edit-btn{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 15px 15px;
    color: white;
    align-items: center;
    align-content: center;
    }