<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesan Komponen</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesKomponenDetail.css">
    <script src="/js/scriptPesanan.js" defer></script> 
</head>
<body>
    <form method="POST" action="/pelanggan/beliKomponen" id="formPesanan">
        <div th:if="${error}" style="color: red;">
            <p th:text="${error}"></p>
        </div>

        <div class="container">
            <h1 th:text="'Detail Komponen: ' + ${komponen.nama} + ' - ' + ${komponen.ukuran}">Detail Komponen</h1>
            
            <div class="image-container">
                <img th:src="@{'/images/' + ${komponen.gambar}}" th:alt="${komponen.nama}">
            </div>
            
            <div class="components">
                <label for="material">Pilih Material:</label>
                <select id="material" name="material">
                    <option th:each="m : ${material}" th:value="${m}" th:text="${m}"></option>
                </select>
                
                <label for="color">Pilih Warna:</label>
                <select id="color" name="color">
                    <option th:each="w : ${warna}" th:value="${w}" th:text="${w}"></option>
                </select>
            </div>
            <div>
                <h3>Jumlah komponen:</h3>
                <input name="jumlah" type="number" th:value="1" required>
            </div>
            
            <div class="buttons">
                <a th:href="@{/dataKomponen}">
                    <button type="button" class="back-button">Kembali</button>
                </a>
                <button class="cart-button" type="submit" onclick="setAction('/pelanggan/keranjangKomponen')">Tambah ke keranjang</button>
                <button class="buy-button" type="button" onclick="konfirmasiPesanan()">Beli</button>
            </div>
        </div>
    </form>
</body>
</html>
