body, html {
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#register_form label{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    text-align: left;
}

fieldset{
    position: fixed;
    display: inline-block;
    text-align: center;
    background-color: white;
    align-content: center;
}

.form_label{
    width: 150px;
}

.form_control{
    width: 200px;
    margin: 1px 1px;
}

.center_button{
    text-align: center;
    margin-top: 5px;
}

h1{
    text-align: center;
}

#center{
    display: flex;
    text-align: center;
    justify-content: center;
}

#center button{
    margin-left: 5px;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/Furnitur-Minimalis.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

a{
    text-decoration: none;
}

.center_button{
    padding-top: 10px;
    padding-bottom: 10px;
}
