<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Pemilik</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesHome.css">
    <style>
        main{
            margin: 30px;
        }
    </style>
</head>
<body>
    <header>
        <div class="header">
            <ul>
                <li><a th:href="@{/dashboardPemilik}">Home</a></li>
                <li><a th:href="@{/dataFurnitur}">Data Furnitur</a></li>
                <li><a th:href="@{/dataKomponen}">Data Komponen</a></li>
                <li><a th:href="@{/laporanPenjualan}">Laporan Penjualan</a></li>
            </ul>
            <button type="button" onclick="window.location.href='/furniturKustom'">Log Out</button>
        </div>
    </header>
    <main>
        <h2>Ringkasan Dashboard</h2>
        <div>
            <li th:text="'Total Penjualan: Rp' + ${penjualan}">Total Penjualan</li>
            <li th:text="'Total Pesanan: ' + ${totalPesanan}">Total Pesanan</li>
            <li th:text="'Furnitur Terlaris: ' + ${furniturTerlaris}">Furnitur Terlaris</li>
            <li th:text="'Komponen Terlaris: ' + ${komponenTerlaris}">Komponen Terlaris</li>
        </div>
        <br>
        <h2>Aktivitas Terkini</h2>
        <li>Pesanan #50 diterima</li>
        <li>Produk "Kursi" diperbarui</li>
        <li>Stok habis untuk furnitur "Meja"</li>
    </main>
</body>
</html>

