<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Furnitur</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesHome.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesPendataan.css">
</head>
<body>
    <header>
        <div class="header">
            <ul>
                <li><a th:href="@{/dashboardPemilik}">Home</a></li>
                <li><a th:href="@{/dataFurnitur}">Data Furnitur</a></li>
                <li><a th:href="@{/dataKomponen}">Data Komponen</a></li>
                <li><a th:href="@{/laporanPenjualan}">Laporan Penjualan</a></li>
            </ul>
            <button type="button" onclick="window.location.href='/home'">Log Out</button>
        </div>
    </header>

    <h1>Data Furnitur</h1>
    <div id="search-bar">
        <input type="text" placeholder="Cari furnitur...">
        <button id="search">Search</button>
    </div>
    <div id="item-list">
        <div class="item" th:each="f : ${furnitur}">
            <img th:src="@{'/images/' + ${f.gambar}}" th:alt="${f.nama + ' - ' + f.ukuran}">
            <div class="info">
                <h3 th:text="${f.nama} + ' - ' + ${f.ukuran}"></h3>
                <p th:text="'Harga: Rp' + ${f.harga}"></p>
                <p th:text="'Stok: ' + ${f.stok}"></p>
            </div>
            <button class="btn-edit">Edit</button>
        </div>
    </div>
</body>
</html>